/*区域2的时间参数*/
@keyframes scalespread {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.5);
    opacity: 0;
  }
  11% {
    transform: scale(1);
    opacity: 0;
  }
  12% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(1.5);
    opacity: 0;
  }
  21% {
    transform: scale(1);
    opacity: 0;
  }
  22% {
    transform: scale(1);
    opacity: 1;
  }
  30% {
    transform: scale(1.5);
    opacity: 0;
  }
  31% {
    transform: scale(1);
    opacity: 0;
  }
  32% {
    transform: scale(1);
    opacity: 1;
  }
  40% {
    transform: scale(1.5);
    opacity: 0;
  }
  41% {
    transform: scale(1);
    opacity: 0;
  }
  42% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0;
  }
  51% {
    transform: scale(1);
    opacity: 0;
  }
  52% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.5);
    opacity: 0;
  }
  61% {
    transform: scale(1);
    opacity: 0;
  }
  62% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1.5);
    opacity: 0;
  }
  71% {
    transform: scale(1);
    opacity: 0;
  }
  72% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(1.5);
    opacity: 0;
  }
  81% {
    transform: scale(1);
    opacity: 0;
  }
  82% {
    transform: scale(1);
    opacity: 1;
  }
  90% {
    transform: scale(1.5);
    opacity: 0;
  }
  91% {
    transform: scale(1);
    opacity: 0;
  }
  92% {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
.section1 {
  position: relative;
  overflow: hidden;
}
.section1 .tableCell {
  position: absolute;
  overflow: hidden;
}
.section1 .header1 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -600px;
  height: 69px;
  width: 1200px;
  z-index: 9;
}
.section1 .header1 .title {
  margin-top: 10px;
  width: 278px;
  height: 59px;
  float: left;
  background: url('../images/logo.png') 50% 50% no-repeat;
  background-size: cover;
}
.section1 .header1 .title .titletop {
  font-size: 24px;
  color: #000;
}
.section1 .header1 .title .titlebottom {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.3);
}
.section1 .header1 ul {
  margin-left: 10%;
  height: 100%;
}
.section1 .header1 ul li {
  margin: 20px 28px 0;
  padding-bottom: 8px;
  width: 65px;
  font-size: 16px;
  color: #000;
}
.section1 .header1 ul .active {
  border-bottom: 2px solid #0d77e7;
}
.section1 .header1 .userinfo {
  text-align: center;
}
.section1 .header1 .userinfo .btn {
  line-height: 36px;
  display: inline-block;
  margin: 20px 0 28px 15px;
  width: 100px;
  height: 36px;
  border-radius: 3px;
  color: #9a9a9a;
  border: 1px solid #9a9a9a;
  font-size: 16px;
}
.section1 .header1 .userinfo .active {
  color: #fff;
  background-color: #007bff;
}
.section1 .header1 .userinfo .link-text {
  position: relative;
  margin-left: 20px;
  top: 20px;
}
.section1 .brand {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 69px;
  background: url('../images/banner.png') 50% 50% no-repeat;
  background-size: cover;
}
.header {
  text-align: center;
  height: 20%;
}
.header div {
  height: 20%;
}
.header h2 {
  margin-bottom: 0.85rem;
  font-size: 1.09rem;
  color: #000;
}
.header h2 i {
  color: #007dcd;
}
.header p {
  font-size: 14px;
  color: rgba(1, 0, 0, 0.3);
}
.section2 .header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
  z-index: 99;
  text-align: center;
}
.section2 .header div {
  height: 20%;
}
.section2 .header h2 {
  font-size: 1.09rem;
  color: #000;
}
.section2 .header h2 i {
  color: #007dcd;
}
.section2 .header p {
  font-size: 14px;
  color: rgba(1, 0, 0, 0.3);
}
.section2 .animate {
  height: 80%;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.section2 .animate .showoutline {
  padding: 33px 33px 0;
  width: 1050px;
  height: 525px;
  margin: 0 auto;
  overflow: hidden;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -525px;
}
.section2 .animate .showoutline .outline_center {
  overflow: hidden;
  height: 635px;
  width: 1200px;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -600px;
  border-bottom: 33px;
  background: url('../images/jsy_mani1_ic1.png') no-repeat;
  z-index: 9;
}
.section2 .animate .showoutline div {
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
}
.section2 .animate .showoutline .outline {
  position: relative;
  margin: 0 auto;
  width: 1050px;
  height: 1050px;
  border-radius: 525px;
  border: 1px solid #eaf4ff;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.section2 .animate .showoutline .outline.a_outline {
  animation: rotating 22s linear infinite;
  -webkit-animation: rotating 22s linear infinite;
  /* Safari 和 Chrome */
}
@keyframes rotating {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
@-moz-keyframes rotating {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
@-webkit-keyframes rotating {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
@-o-keyframes rotating {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
.section2 .animate .showoutline .outline .touzi {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #80e7ff;
  top: -20px;
  left: 50%;
  margin-left: -20px;
  z-index: 9;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.section2 .animate .showoutline .outline .touzi.a_touzi {
  animation: rotating2 22s linear infinite;
  -webkit-animation: rotating2 22s linear infinite;
}
@keyframes rotating2 {
  from {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(-70deg);
  }
  to {
    transform: rotate(70deg);
  }
}
@-moz-keyframes rotating2 {
  from {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(-70deg);
  }
  to {
    transform: rotate(70deg);
  }
}
@-webkit-keyframes rotating2 {
  from {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(-70deg);
  }
  to {
    transform: rotate(70deg);
  }
}
@-o-keyframes rotating2 {
  from {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(-70deg);
  }
  to {
    transform: rotate(70deg);
  }
}
.section2 .animate .showoutline .outline .touzi2 {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(128, 231, 255, 0.5);
  top: -20px;
  left: 50%;
  margin-left: -20px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.section2 .animate .showoutline .outline .touzi2.a_touzi2 {
  animation: scalespread 22s linear infinite;
  -webkit-animation: scalespread 22s linear infinite;
}
.section2 .animate .showoutline .outline .outline_circle {
  width: 14px;
  height: 14px;
  top: 50%;
  left: -7px;
  margin-top: -7px;
  background-color: #ffd2e2;
}
.section2 .animate .showoutline .outline .outline_circle2 {
  width: 14px;
  height: 14px;
  top: 50%;
  right: -7px;
  margin-top: -7px;
  background-color: #a9694a;
}
.section2 .animate .showoutline .outline2 {
  width: 868px;
  height: 868px;
  border-radius: 434px;
  border: 1px solid #eaf4ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -434px;
  margin-bottom: -434px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.section2 .animate .showoutline .outline2.a_outline2 {
  animation: rotating2 20s linear infinite;
  -webkit-animation: rotating2 20s linear infinite;
}
.section2 .animate .showoutline .outline2 .fenxi {
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background-color: #ab32ff;
  top: -23px;
  left: 50%;
  margin-left: -23px;
  z-index: 9;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.section2 .animate .showoutline .outline2 .fenxi.a_fenxi {
  animation: rotating 20s linear infinite;
  -webkit-animation: rotating 20s linear infinite;
}
.section2 .animate .showoutline .outline2 .fenxi2 {
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background-color: #ab32ff;
  top: -23px;
  left: 50%;
  margin-left: -23px;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.section2 .animate .showoutline .outline2 .fenxi2.a_fenxi2 {
  animation: scalespread 20s linear infinite;
  -webkit-animation: scalespread 20s linear infinite;
}
.section2 .animate .showoutline .outline2 .outline2_circle {
  width: 14px;
  height: 14px;
  top: 50%;
  left: -7px;
  margin-top: -7px;
  background-color: #ffcef2;
}
.section2 .animate .showoutline .outline3 {
  width: 672px;
  height: 672px;
  border-radius: 336px;
  border: 1px solid #eaf4ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -336px;
  margin-bottom: -336px;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.section2 .animate .showoutline .outline3.a_outline3 {
  animation: rotating 32s linear infinite;
  -webkit-animation: rotating 32s linear infinite;
}
.section2 .animate .showoutline .outline3 .outline3_circle {
  width: 14px;
  height: 14px;
  top: 50%;
  right: -7px;
  margin-top: -7px;
  background-color: #bf6fff;
}
.section2 .animate .showoutline .outline3 .quanyi {
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background-color: #0db547;
  top: -23px;
  left: 50%;
  z-index: 9;
  margin-left: -23px;
}
.section2 .animate .showoutline .outline3 .quanyi.a_quanyi {
  animation: rotating2 32s linear infinite;
  -webkit-animation: rotating2 32s linear infinite;
}
.section2 .animate .showoutline .outline3 .quanyi2 {
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background-color: #0db547;
  top: -23px;
  left: 50%;
  margin-left: -23px;
}
.section2 .animate .showoutline .outline3 .quanyi2.a_quanyi2 {
  animation: scalespread 32s linear infinite;
  -webkit-animation: scalespread 32s linear infinite;
}
.section2 .animate .showoutline .outline4 {
  width: 518px;
  height: 518px;
  border-radius: 259px;
  border: 1px solid #eaf4ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -259px;
  margin-bottom: -259px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.section2 .animate .showoutline .outline4.a_outline4 {
  animation: rotating2 21s linear infinite;
  -webkit-animation: rotating2 21s linear infinite;
}
.section2 .animate .showoutline .outline4 .outline4_circle {
  width: 14px;
  height: 14px;
  top: 50%;
  left: -7px;
  margin-top: -7px;
  background-color: #8dff94;
}
.section2 .animate .showoutline .outline4 .fuzhai {
  width: 66px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  background-color: rgba(181, 13, 175, 0.8);
  top: -33px;
  left: 50%;
  margin-left: -33px;
  z-index: 9;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.section2 .animate .showoutline .outline4 .fuzhai.a_fuzhai {
  animation: rotating 21s linear infinite;
  -webkit-animation: rotating 21s linear infinite;
}
.section2 .animate .showoutline .outline4 .fuzhai2 {
  width: 66px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  background-color: rgba(181, 13, 175, 0.8);
  top: -33px;
  left: 50%;
  margin-left: -33px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.section2 .animate .showoutline .outline4 .fuzhai2.a_fuzhai2 {
  animation: scalespread 21s linear infinite;
  -webkit-animation: scalespread 21s linear infinite;
}
.section2 .animate .showoutline .outline5 {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  border: 1px solid #eaf4ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -200px;
  margin-bottom: -200px;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}
.section2 .animate .showoutline .outline5.a_outline5 {
  animation: rotating 18s linear infinite;
  -webkit-animation: rotating 18s linear infinite;
}
@keyframes rotating8 {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
@-moz-keyframes rotating8 {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
@-webkit-keyframes rotating8 {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
@-o-keyframes rotating8 {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
.section2 .animate .showoutline .outline5 .outline5_circle {
  width: 14px;
  height: 14px;
  top: 50%;
  left: -7px;
  margin-top: -7px;
  background-color: #ffb2b2;
}
.section3 .animate {
  height: 80%;
  overflow: hidden;
  position: relative;
  background: url('../images/jsy_mani2_bg.png');
}
.section3 .animate div {
  position: absolute;
}
.section3 .animate .wave {
  opacity: .4;
  position: absolute;
  bottom: -40%;
  left: 50%;
  background: #f0f7f5;
  border: 1px solid #dae9fc;
  width: 150%;
  height: 60%;
  margin-left: -75%;
  -webkit-transform-origin: 50% 48%;
  transform-origin: 50% 48%;
  border-radius: 50% 100%;
  -webkit-animation: drift 11000ms infinite linear;
  animation: drift 11000ms infinite linear;
}
.section3 .animate .wave.-three {
  -webkit-animation: drift 8200ms infinite linear;
  animation: drift 8200ms infinite linear;
}
.section3 .animate .wave.-two {
  border: 1px solid #d8f0f5;
  -webkit-animation: drift 13500ms infinite linear;
  animation: drift 13500ms infinite linear;
  opacity: .1;
  background: #f0f7f5;
}
@-webkit-keyframes drift {
  from {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}
@keyframes drift {
  from {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}
.section3 .animate .top {
  height: 20%;
  width: 100%;
}
.section3 .animate .banlance {
  height: 80%;
  margin: 0 auto;
  width: 1000px;
  position: relative;
}
.section3 .animate .banlance .ban_top {
  width: 781px;
  height: 232px;
  background: url('../images/jsy_mani2_ic2.png') no-repeat;
  bottom: 20%;
  left: 50%;
  margin-left: -390px;
}
.section3 .animate .banlance .ban_top.a_ban_top {
  transform-origin: center bottom;
  animation: rotating9 8s linear infinite;
  -webkit-animation: rotating9 8s linear infinite;
}
@keyframes rotating9 {
  from {
    transform: rotate(0);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(0);
  }
}
@-moz-keyframes rotating9 {
  from {
    transform: rotate(0);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(0);
  }
}
@-webkit-keyframes rotating9 {
  from {
    transform: rotate(0);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(0);
  }
}
@-o-keyframes rotating9 {
  from {
    transform: rotate(0);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(0);
  }
}
.section3 .animate .banlance .ban_bottom {
  width: 157px;
  height: 347px;
  background: url('../images/jsy_mani2_ic1.png') no-repeat;
  bottom: 0;
  left: 50%;
  margin-left: -79px;
}
.section4 .animate {
  height: 80%;
  position: relative;
  overflow: hidden;
}
.section4 .animate div {
  position: absolute;
}
.section4 .animate .pool {
  bottom: 0;
  left: 50%;
  margin-left: -667px;
  width: 1333px;
  height: 74px;
  background: url('../images/jsy_mani3_ic1.png') no-repeat;
}
.section4 .animate .waterDrop1 {
  width: 171px;
  height: 579px;
  bottom: 0;
  left: 50%;
  margin-left: -100px;
  background: url('../images/jsy_mani3_s2.png') no-repeat;
  z-index: 2;
}
.section4 .animate .waterDrop1.a_waterDrop1 {
  animation: dorp1 4s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
  -webkit-animation: dorp1 4s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}
@keyframes dorp1 {
  from {
    opacity: 0;
    transform: translate(0, -150px);
  }
  35% {
    opacity: 1;
    transform: translate(0, -150px);
  }
  95% {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes dorp1 {
  from {
    opacity: 0;
    transform: translate(0, -150px);
  }
  35% {
    opacity: 1;
    transform: translate(0, -150px);
  }
  95% {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes dorp1 {
  from {
    opacity: 0;
    transform: translate(0, -150px);
  }
  35% {
    opacity: 1;
    transform: translate(0, -150px);
  }
  95% {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes dorp1 {
  from {
    opacity: 0;
    transform: translate(0, -150px);
  }
  35% {
    opacity: 1;
    transform: translate(0, -150px);
  }
  95% {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.section4 .animate .waterDrop2 {
  width: 90px;
  height: 388px;
  bottom: 25%;
  left: 30%;
  background: url('../images/jsy_mani3_s1.png') no-repeat;
  z-index: 2;
}
.section4 .animate .waterDrop2.a_waterDrop2 {
  animation: dorp2 6s ease infinite;
  -webkit-animation: dorp2 6s ease infinite;
}
@keyframes dorp2 {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  85% {
    transform: translate(0, 150px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, 150px);
  }
}
@-moz-keyframes dorp2 {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  85% {
    transform: translate(0, 150px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, 150px);
  }
}
@-webkit-keyframes dorp2 {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  85% {
    transform: translate(0, 150px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, 150px);
  }
}
@-o-keyframes dorp2 {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  85% {
    transform: translate(0, 150px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, 150px);
  }
}
.section4 .animate .waterDrop3 {
  width: 63px;
  height: 265px;
  bottom: 38%;
  left: 60%;
  background: url('../images/jsy_mani3_s3.png') no-repeat;
  z-index: 2;
}
.section4 .animate .waterDrop3.a_waterDrop3 {
  animation: dorp3 6s ease infinite;
  -webkit-animation: dorp3 6s ease infinite;
}
@keyframes dorp3 {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  85% {
    transform: translate(0, 250px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, 250px);
  }
}
@-moz-keyframes dorp3 {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  85% {
    transform: translate(0, 250px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, 250px);
  }
}
@-webkit-keyframes dorp3 {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  85% {
    transform: translate(0, 250px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, 250px);
  }
}
@-o-keyframes dorp3 {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  85% {
    transform: translate(0, 250px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, 250px);
  }
}
.section4 .animate .waterDrop4 {
  width: 59px;
  height: 376px;
  bottom: 45%;
  right: 20%;
  background: url('../images/jsy_mani3_s4.png') no-repeat;
  z-index: 2;
}
.section4 .animate .waterDrop4.a_waterDrop4 {
  animation: dorp4 6s ease infinite;
  -webkit-animation: dorp4 6s ease infinite;
}
@keyframes dorp4 {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  85% {
    transform: translate(0, 190px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, 190px);
  }
}
@-moz-keyframes dorp4 {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  85% {
    transform: translate(0, 190px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, 190px);
  }
}
@-webkit-keyframes dorp4 {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  85% {
    transform: translate(0, 190px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, 190px);
  }
}
@-o-keyframes dorp4 {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  85% {
    transform: translate(0, 190px);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, 190px);
  }
}
.section4 .animate .waterDrop5 {
  width: 845px;
  height: 326px;
  bottom: 20%;
  left: 50%;
  margin-left: -425px;
  background: url('../images/jsy_mani3_ic2.png') no-repeat;
  z-index: 2;
}
.section4 .animate .waterDrop5.a_waterDrop5 {
  animation: dorp5 6s linear infinite;
  -webkit-animation: dorp5 6s linear infinite;
}
@keyframes dorp5 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  45% {
    opacity: 1;
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, 30px);
    opacity: 1;
  }
  to {
    transform: translate(0, 30px);
    opacity: 0;
  }
}
@-moz-keyframes dorp5 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  45% {
    opacity: 1;
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, 30px);
    opacity: 1;
  }
  to {
    transform: translate(0, 30px);
    opacity: 0;
  }
}
@-webkit-keyframes dorp5 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  45% {
    opacity: 1;
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, 30px);
    opacity: 1;
  }
  to {
    transform: translate(0, 30px);
    opacity: 0;
  }
}
@-o-keyframes dorp5 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  45% {
    opacity: 1;
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, 30px);
    opacity: 1;
  }
  to {
    transform: translate(0, 30px);
    opacity: 0;
  }
}
.section4 .animate .spray1 {
  width: 25px;
  height: 18px;
  bottom: 4%;
  left: 50%;
  margin-left: 28px;
  background: url('../images/jsy_mani3_ic3.png') no-repeat;
  z-index: 2;
}
.section4 .animate .spray1.spray1 {
  animation: dorp6 4s linear infinite;
  -webkit-animation: dorp6 4s linear infinite;
}
@keyframes dorp6 {
  from {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes dorp6 {
  from {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes dorp6 {
  from {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes dorp6 {
  from {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.section4 .animate .spray2 {
  width: 27px;
  height: 16px;
  bottom: 4%;
  left: 50%;
  margin-left: -78px;
  background: url('../images/jsy_mani3_ic4.png') no-repeat;
  z-index: 2;
}
.section4 .animate .spray2.spray2 {
  animation: dorp7 4s linear infinite;
  -webkit-animation: dorp7 4s linear infinite;
}
@keyframes dorp7 {
  from {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes dorp7 {
  from {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes dorp7 {
  from {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes dorp7 {
  from {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.section5 .header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}
.section5 .animate {
  position: absolute;
  bottom: 0;
  height: 80%;
  width: 100%;
}
.section5 .animate .showoutline {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-top: 35px;
  height: 569px;
  overflow: hidden;
  color: #fff;
}
.section5 .animate .showoutline div {
  position: absolute;
  border-radius: 50%;
}
.section5 .animate .showoutline .bang {
  width: 18.818181818181817rem;
  height: 20.393939393939394rem;
  background: url('../images/jsy_mani4_bg.png') no-repeat center center;
  background-size: contain;
  left: 50%;
  bottom: 0;
  margin-left: -9.40909091rem;
  z-index: 8;
}
.section5 .animate .showoutline .clock {
  width: 10.818181818181818rem;
  height: 8.272727272727273rem;
  background: url('../images/jsy_mani4_ic1.png') no-repeat center center;
  bottom: 36%;
  left: 48%;
  background-size: contain;
  margin-left: -5.25757576rem;
  z-index: 9;
}
.section5 .animate .showoutline .clock.a_clock {
  animation: rotatingclock 1s linear infinite;
  -webkit-animation: rotatingclock 1s linear infinite;
}
@keyframes rotatingclock {
  from {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
@-moz-keyframes rotatingclock {
  from {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
@-webkit-keyframes rotatingclock {
  from {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
@-o-keyframes rotatingclock {
  from {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
.section5 .animate .showoutline .outline {
  position: absolute;
  left: 50%;
  width: 1138px;
  height: 1138px;
  margin-left: -569px;
  border-radius: 569px;
  border: 1px solid #eaf4ff;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.section5 .animate .showoutline .outline.a_outline {
  animation: rotating 30s linear infinite;
  -webkit-animation: rotating 30s linear infinite;
}
@keyframes rotating50 {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
@-moz-keyframes rotating50 {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
@-webkit-keyframes rotating50 {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
@-o-keyframes rotating50 {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
.section5 .animate .showoutline .outline .yingli {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 24px;
  background-color: #14a9c3;
  top: -35px;
  left: 50%;
  margin-left: -35px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.section5 .animate .showoutline .outline .yingli.a_yingli {
  animation: rotating2 30s linear infinite;
  -webkit-animation: rotating2 30s linear infinite;
}
@keyframes rotating51 {
  from {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(-70deg);
  }
  to {
    transform: rotate(70deg);
  }
}
@-moz-keyframes rotating51 {
  from {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(-70deg);
  }
  to {
    transform: rotate(70deg);
  }
}
@-webkit-keyframes rotating51 {
  from {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(-70deg);
  }
  to {
    transform: rotate(70deg);
  }
}
@-o-keyframes rotating51 {
  from {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(-70deg);
  }
  to {
    transform: rotate(70deg);
  }
}
.section5 .animate .showoutline .outline1 {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-bottom: -473px;
  margin-left: -473px;
  width: 946px;
  height: 946px;
  border-radius: 473px;
  border: 1px solid #eaf4ff;
  -webkit-transform: rotate(75deg);
  -moz-transform: rotate(75deg);
  -ms-transform: rotate(75deg);
  -o-transform: rotate(75deg);
  transform: rotate(75deg);
}
.section5 .animate .showoutline .outline1.a_outline1 {
  animation: rotating2 15s linear infinite;
  -webkit-animation: rotating2 15s linear infinite;
}
@keyframes rotating52 {
  from {
    transform: rotate(140deg);
  }
  50% {
    transform: rotate(-140deg);
  }
  to {
    transform: rotate(140deg);
  }
}
@-moz-keyframes rotating52 {
  from {
    transform: rotate(140deg);
  }
  50% {
    transform: rotate(-140deg);
  }
  to {
    transform: rotate(140deg);
  }
}
@-webkit-keyframes rotating52 {
  from {
    transform: rotate(140deg);
  }
  50% {
    transform: rotate(-140deg);
  }
  to {
    transform: rotate(140deg);
  }
}
@-o-keyframes rotating52 {
  from {
    transform: rotate(140deg);
  }
  50% {
    transform: rotate(-140deg);
  }
  to {
    transform: rotate(140deg);
  }
}
.section5 .animate .showoutline .outline1 .fuzhai {
  width: 66px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  font-size: 18px;
  background-color: #45d1ff;
  top: -33px;
  left: 50%;
  margin-left: -33px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.section5 .animate .showoutline .outline1 .fuzhai.a_fuzhai {
  animation: rotating 15s linear infinite;
  -webkit-animation: rotating 15s linear infinite;
}
@keyframes rotating53 {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
@-moz-keyframes rotating53 {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
@-webkit-keyframes rotating53 {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
@-o-keyframes rotating53 {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
.section5 .animate .showoutline .outline1 .outline_circle {
  width: 14px;
  height: 14px;
  top: 50%;
  left: -7px;
  margin-top: -7px;
  background-color: #ffd2e2;
}
.section5 .animate .showoutline .outline2 {
  width: 760px;
  height: 760px;
  border-radius: 380px;
  border: 1px solid #eaf4ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -380px;
  margin-bottom: -380px;
  -webkit-transform: rotate(-105deg);
  -moz-transform: rotate(-105deg);
  -ms-transform: rotate(-105deg);
  -o-transform: rotate(-105deg);
  transform: rotate(-105deg);
}
.section5 .animate .showoutline .outline2.a_outline2 {
  animation: rotating 22s linear infinite;
  -webkit-animation: rotating 22s linear infinite;
}
@keyframes rotating54 {
  from {
    transform: rotate(-140deg);
  }
  50% {
    transform: rotate(140deg);
  }
  to {
    transform: rotate(-140deg);
  }
}
@-moz-keyframes rotating54 {
  from {
    transform: rotate(-140deg);
  }
  50% {
    transform: rotate(140deg);
  }
  to {
    transform: rotate(-140deg);
  }
}
@-webkit-keyframes rotating54 {
  from {
    transform: rotate(-140deg);
  }
  50% {
    transform: rotate(140deg);
  }
  to {
    transform: rotate(-140deg);
  }
}
@-o-keyframes rotating54 {
  from {
    transform: rotate(-140deg);
  }
  50% {
    transform: rotate(140deg);
  }
  to {
    transform: rotate(-140deg);
  }
}
.section5 .animate .showoutline .outline2 .fenxi {
  width: 66px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  background-color: #ff376b;
  font-size: 18px;
  top: -33px;
  left: 50%;
  margin-left: -33px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
.section5 .animate .showoutline .outline2 .fenxi.a_fenxi {
  animation: rotating2 22s linear infinite;
  -webkit-animation: rotating2 22s linear infinite;
}
@keyframes rotating55 {
  from {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(-70deg);
  }
  to {
    transform: rotate(70deg);
  }
}
@-moz-keyframes rotating55 {
  from {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(-70deg);
  }
  to {
    transform: rotate(70deg);
  }
}
@-webkit-keyframes rotating55 {
  from {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(-70deg);
  }
  to {
    transform: rotate(70deg);
  }
}
@-o-keyframes rotating55 {
  from {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(-70deg);
  }
  to {
    transform: rotate(70deg);
  }
}
.section5 .animate .showoutline .outline2 .outline2_circle {
  width: 14px;
  height: 14px;
  top: 50%;
  left: -7px;
  margin-top: -7px;
  background-color: #ffcef2;
}
.section5 .animate .showoutline .outline3 {
  width: 566px;
  height: 566px;
  border-radius: 283px;
  border: 1px solid #eaf4ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -283px;
  margin-bottom: -283px;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}
.section5 .animate .showoutline .outline3.a_outline3 {
  animation: rotating2 28s linear infinite;
  -webkit-animation: rotating2 28s linear infinite;
}
@keyframes rotating56 {
  from {
    transform: rotate(140deg);
  }
  50% {
    transform: rotate(-140deg);
  }
  to {
    transform: rotate(140deg);
  }
}
@-moz-keyframes rotating56 {
  from {
    transform: rotate(140deg);
  }
  50% {
    transform: rotate(-140deg);
  }
  to {
    transform: rotate(140deg);
  }
}
@-webkit-keyframes rotating56 {
  from {
    transform: rotate(140deg);
  }
  50% {
    transform: rotate(-140deg);
  }
  to {
    transform: rotate(140deg);
  }
}
@-o-keyframes rotating56 {
  from {
    transform: rotate(140deg);
  }
  50% {
    transform: rotate(-140deg);
  }
  to {
    transform: rotate(140deg);
  }
}
.section5 .animate .showoutline .outline3 .quanyi {
  width: 38px;
  height: 38px;
  line-height: 38px;
  font-size: 12px;
  text-align: center;
  background-color: #0db547;
  top: -19px;
  left: 50%;
  margin-left: -19px;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.section5 .animate .showoutline .outline3 .quanyi.a_quanyi {
  animation: rotating 28s linear infinite;
  -webkit-animation: rotating 28s linear infinite;
}
@keyframes rotating57 {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
@-moz-keyframes rotating57 {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
@-webkit-keyframes rotating57 {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
@-o-keyframes rotating57 {
  from {
    transform: rotate(-70deg);
  }
  50% {
    transform: rotate(70deg);
  }
  to {
    transform: rotate(-70deg);
  }
}
.section5 .animate .showoutline .outline4 {
  width: 422px;
  height: 422px;
  border-radius: 211px;
  border: 1px solid #eaf4ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -211px;
  margin-bottom: -211px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.section5 .animate .showoutline .outline4.a_outline4 {
  animation: rotating 23s linear infinite;
  -webkit-animation: rotating 23s linear infinite;
}
@keyframes rotating58 {
  from {
    transform: rotate(-140deg);
  }
  50% {
    transform: rotate(140deg);
  }
  to {
    transform: rotate(-140deg);
  }
}
@-moz-keyframes rotating58 {
  from {
    transform: rotate(-140deg);
  }
  50% {
    transform: rotate(140deg);
  }
  to {
    transform: rotate(-140deg);
  }
}
@-webkit-keyframes rotating58 {
  from {
    transform: rotate(-140deg);
  }
  50% {
    transform: rotate(140deg);
  }
  to {
    transform: rotate(-140deg);
  }
}
@-o-keyframes rotating58 {
  from {
    transform: rotate(-140deg);
  }
  50% {
    transform: rotate(140deg);
  }
  to {
    transform: rotate(-140deg);
  }
}
.section5 .animate .showoutline .outline4 .fuzhai {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 66, 255, 0.3);
  top: -10px;
  left: 50%;
  margin-left: -10px;
}
.section5 .animate .showoutline .outline5 {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border: 1px solid #eaf4ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -150px;
  margin-bottom: -150px;
  -webkit-transform: rotate(245deg);
  -moz-transform: rotate(245deg);
  -ms-transform: rotate(245deg);
  -o-transform: rotate(245deg);
  transform: rotate(245deg);
}
.section5 .animate .showoutline .outline5.a_outline5 {
  animation: rotating2 10s linear infinite;
  -webkit-animation: rotating2 10s linear infinite;
}
@keyframes rotating59 {
  from {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(-90deg);
  }
}
@-moz-keyframes rotating59 {
  from {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(-90deg);
  }
}
@-webkit-keyframes rotating59 {
  from {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(-90deg);
  }
}
@-o-keyframes rotating59 {
  from {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(-90deg);
  }
}
.section5 .animate .showoutline .outline5_circle {
  width: 16px;
  height: 16px;
  top: 50%;
  left: -8px;
  margin-top: -8px;
  background-color: rgba(64, 210, 0, 0.3);
}
.section6 .animate {
  height: 80%;
  position: relative;
  overflow: hidden;
}
.section6 .animate div {
  position: absolute;
}
.section6 .animate .hole {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  background: url('../images/jsy_mani5_bg.png') no-repeat bottom center;
  background-size: cover;
}
.section6 .animate .hole .person1 {
  width: 10.78rem;
  height: 10.78rem;
  position: absolute;
  bottom: 32%;
  left: 50%;
  margin-left: -5.39rem;
  background: url('../images/jsy_mani5_ic1.png') no-repeat;
  background-size: cover;
}
.section6 .animate .hole .person1.a_person1 {
  animation: person1 5s linear infinite;
  -webkit-animation: person1 5s linear infinite;
}
@keyframes person1 {
  from {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}
@-moz-keyframes person1 {
  from {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}
@-webkit-keyframes person1 {
  from {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}
@-o-keyframes person1 {
  from {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}
.section6 .animate .hole .person2 {
  width: 5.93rem;
  height: 5.93rem;
  position: absolute;
  bottom: 53%;
  left: 29%;
  overflow: hidden;
}
.section6 .animate .hole .person2 .person2_img {
  width: 100%;
  height: 100%;
  background: url('../images/jsy_mani5_ic2.png') no-repeat;
  background-size: cover;
}
.section6 .animate .hole .person2 .person2_img.a_person2_img {
  animation: person1 5s linear infinite;
  -webkit-animation: person1 5s linear infinite;
}
.section6 .animate .hole .person3 {
  width: 5.93rem;
  height: 5.93rem;
  position: absolute;
  bottom: 52%;
  left: 63%;
  overflow: hidden;
}
.section6 .animate .hole .person3 .person3_img {
  width: 100%;
  height: 100%;
  background: url('../images/jsy_mani5_ic3.png') no-repeat;
  background-size: cover;
}
.section6 .animate .hole .person3 .person3_img.a_person3_img {
  animation: person1 5s linear infinite;
  -webkit-animation: person1 5s linear infinite;
}
.section6 .animate .hole .person4 {
  width: 2.49rem;
  height: 2.49rem;
  position: absolute;
  bottom: 78%;
  left: 20%;
  overflow: hidden;
}
.section6 .animate .hole .person4 .person4_img {
  width: 100%;
  height: 100%;
  background: url('../images/jsy_mani5_ic5.png') no-repeat;
  background-size: cover;
}
.section6 .animate .hole .person4 .person4_img.a_person4_img {
  animation: person2 5s linear infinite;
  -webkit-animation: person2 5s linear infinite;
}
@keyframes person2 {
  from {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  to {
    transform: rotate(-8deg);
  }
}
@-moz-keyframes person2 {
  from {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  to {
    transform: rotate(-8deg);
  }
}
@-webkit-keyframes person2 {
  from {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  to {
    transform: rotate(-8deg);
  }
}
@-o-keyframes person2 {
  from {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  to {
    transform: rotate(-8deg);
  }
}
.section6 .animate .hole .person5 {
  width: 2.49rem;
  height: 2.49rem;
  position: absolute;
  bottom: 78%;
  right: 20%;
  overflow: hidden;
}
.section6 .animate .hole .person5 .person5_img {
  width: 100%;
  height: 100%;
  background: url('../images/jsy_mani5_ic4.png') no-repeat;
  background-size: cover;
}
.section6 .animate .hole .person5 .person5_img.a_person5_img {
  animation: person2 5s linear infinite;
  -webkit-animation: person2 5s linear infinite;
}
.section6 .animate .hole2 {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  background: url(../images/jsy_mani5_bg2.png) no-repeat bottom center;
  background-size: cover;
  z-index: 9999;
}
.section7 {
  text-align: center;
  height: 100%;
}
.section7 .header {
  padding-top: 1px;
  margin-top: 20px;
  height: 40%;
}
.section7 .header .corfriend {
  font-size: 36px;
  color: #1b1b1b;
}
.section7 .header .w-m-bd {
  width: 1200px;
  margin: 20px auto;
}
.section7 .header .w-m-bd .partner-list li {
  width: 200px;
  height: 44px;
  margin-bottom: 20px;
  float: left;
  text-align: center;
}
.section7 .header .w-m-bd .partner-list li a img {
  max-height: 44px;
  max-width: 160px;
}
.section7 .main {
  height: 45%;
  padding-top: 1px;
  background: url('../images/jiaru.png') no-repeat 50% 50%;
  background-size: cover;
}
.section7 .main h3 {
  margin-top: 93px;
  font-size: 31px;
  color: #fff;
  font-weight: normal;
}
.section7 .main p {
  font-size: 23px;
  color: rgba(255, 255, 255, 0.3);
}
.section7 .main a {
  display: block;
  margin: 44px auto 0;
  width: 384px;
  height: 62px;
  line-height: 62px;
  background-color: #007eff;
  border: none;
  font-size: 18px;
  color: #fff;
}
.section7 .footer {
  height: 15%;
  background-color: #1b2831;
}
.section7 .footer .wx {
  width: 1200px;
  margin: 0 auto;
}
.section7 .footer .wx .footer_top {
  font-size: 14px;
  height: 84px;
  line-height: 84px;
  border-bottom: 1px solid #29353d;
}
.section7 .footer .wx .footer_top div {
  padding-left: 64px;
  line-height: 64px;
  margin-top: 10px;
}
.section7 .footer .wx .footer_top .phone {
  height: 64px;
  background: url('../images/bottombg.png');
}
.section7 .footer .wx .footer_top .number {
  height: 64px;
  background: url('../images/bottombg.png') 278px;
}
.section7 .footer .wx .footer_top .mail {
  padding-left: 0;
}
.section7 .footer .wx .footer_top .mail span {
  float: left;
  width: 64px;
  height: 64px;
  background: url('../images/bottombg.png') 114px;
}
.section7 .footer .wx .footer_top .worktime {
  height: 64px;
}
.section7 .footer .wx .footer_bottom {
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
}
#menu {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 40%;
  right: 10px;
  list-style-type: none;
  z-index: 70;
}
#menu li {
  margin: 10px;
  font-size: 14px;
  width: 20px;
  height: 20px;
  text-align: center;
}
#menu li:hover a {
  background-color: #45b3b4;
  width: 20px;
  height: 20px;
}
#menu a {
  margin: 0 auto;
  display: inline-block;
  text-decoration: none;
  width: 10px;
  height: 10px;
  background-color: #e5e5e5;
  border-radius: 50%;
}
#menu .active a {
  background-color: #45b3b4;
  width: 20px;
  height: 20px;
}
