.radius-input {
    position: relative;
    .ivu-input {
        border-radius: 16px;
        padding-left: 12px;
    } 
    .ivu-btn {
        background: none;
        border: none;
        right: 0;
        z-index: 11;
        width: 32px;
        position: absolute;
        display: block;
        z-index: 3;
    }
}
.radius-button.ivu-btn {
border-radius: 16px;
}