.radius-input {
  position: relative;
}
.radius-input .ivu-input {
  border-radius: 16px;
  padding-left: 12px;
}
.radius-input .ivu-btn {
  background: none;
  border: none;
  right: 0;
  z-index: 11;
  width: 32px;
  position: absolute;
  display: block;
  z-index: 3;
}
.radius-button.ivu-btn {
  border-radius: 16px;
}
.loginBg .ivu-spin-fullscreen {
  z-index: 1000;
}
.loginBg .ivu-spin-fullscreen .ivu-spin {
  color: #fff;
}
.loginBg .ivu-spin-fullscreen .ivu-spin-fix {
  background: rgba(0, 0, 0, 0.75);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bf000000, 0, endColorstr=#bf000000, 0);
}
